<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/froala-design-blocks/1.0.2/css/froala_blocks.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<script type="text/javascript">
    function init(){
        setTimeout("move()",5000);
    }
    function move(){
        document.getElementById("submitform").action="./";
        document.getElementById("submitform").submit();
    }

</script>
<script>
$(document).ajaxStart(function(){
    $('#loading').show();
 }).ajaxStop(function(){
    $('#loading').hide();
 });
</script>
</head>
<body onload="init()">
<section class="fdb-block fp-active" data-block-type="contents" data-id="29" draggable="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8 col-xl-6 text-center">
        <img alt="image" width="200" src="https://g.redditmedia.com/cZSQS6pKfOJa7hOwvGpP2Fg_cMrTKXEVrri9_N78AmA.gif?fm=mp4&mp4-fragmented=false&s=31b402d6703c4b7ac0d90f7457cc6d59">
          {% if Authentication %}
            <p class="text-h3">인증 성공<br></p>
            <h5>잠시 후 결과 화면으로 이동합니다.</h5>
            <p class="text-h4">로그인 계정과 사용자 얼굴 특징 정보가 일치 합니다.</p>
            {% endif %}
          {% if unauthorized %}
            <p>인증 실패<br></p>
            <h5>잠시 후 홈 화면으로 이동합니다.</h5>
            <p class="text-h5">로그인 계정과 사용자 얼굴 특징 정보가 일치 하지 않습니다.</p>
            {% endif %}
        {% if needuid %}
            <p class="text-h3">1차 로그인 정보 필요<br></p>
            <h5>잠시 후 홈 화면으로 이동합니다.</h5>
            <p class="text-h4">계정 로그인을 하지 않았습니다.</p>
            {% endif %}
          <p class="text-h4">현재 {{ similiarity }}% 일치하는 것으로 확인됩니다. </p>
        {% if Authentication %}
        <form id="submitform" , method="POST">
        {% csrf_token %}
            <input type="hidden" name="auth" value="succ">
        <p class="text-h3 mt-5"><button class="btn btn-round" type="submit"> Next </button></p>
        </form>
      {% endif %}
      {% if unauthorized %}
        <form id="submitform" , method="POST">
        {% csrf_token %}
            <input type="hidden" name="auth" value="fail">
        <p class="text-h3 mt-5"><button class="btn btn-round" type="submit"> Home </button></p>
        </form>
      {% endif %}
      {% if needuid %}
        <form id="submitform" , method="POST">
        {% csrf_token %}
            <input type="hidden" name="auth" value="fail">
        <p class="text-h3 mt-5"><button class="btn btn-round" type="submit"> Home </button></p>
        </form>
      {% endif %}
      </div>
    </div>
  </div>
</section>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>

</body>
</html>






