<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row justify-content-center">

        <div class="col-12 col-md-8 col-lg-5 text-center pb-md-5">
          <h1>걸음걸이와 귀를 등록하고 테스트해보세요.</h1>
          <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia.</p>


              <form method="POST" class="post-form" enctype="multipart/form-data">
                {%  csrf_token %}
                  {{  form.as_p }}
                  <button type="submit" class="save btn btn-default"
            value="upload">save!!</button>
            </form>
            {% if result %}
            <p>Result :
             {{ result }}</p>
            {% endif %}

        </div>
      </div>

</body>
</html>