<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Screens</title>
</head>
<body>
<h1>Step3</h1>

<form action="/stream/", method="POST">
  {% csrf_token %}
  <input type="submit" value="다음">
</form>
    <table>
        <tr>

            <td>
                    <h1>Video Streaming Demonstration 1</h1>

                    <img src="{% url 'streaming' %}">

            </td>

        </tr>
    </table>

</body>
</html>