<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>image upload example</h1>
<form method="POST" class="post-form" enctype="multipart/form-data">
    {%  csrf_token %}
    {{  form.as_p }}
    <button type="submit" class="save btn btn-default"
            value="upload">save!!</button>

</form>
<!-- 업로드 되었을 때 포스트 모드일때 변수가 정의되었을 때 주소를 가져와서 이미지를 보여줌-->
{% if uploaded_file_url %}
<img src="{{ uploaded_file_url }}">
<p>File uploaded at :
    <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
{% endif %}

<p><a href="{%  url 'uimage' %}">Return to home</a></p>
</body>
</html>